<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ENGGEO</title>
    <!--{% include "inc/header.html" %}-->
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap2/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="../../static/pic/logo_icon_16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../static/pic/logo_icon_32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../static/pic/logo_icon_48.png" sizes="48x48">
    <script src="../../static/jquery/jquery-1.11.2.js"></script>
    <script src="../../static/bootstrap2/js/bootstrap.min.js"></script>
</head>

<body>
    <!--{% include "inc/menu.html" %}-->
    <div class="myNavbar"></div>

    <div class="body-background">
        <div class="lend-wrapper lend-wrap-one">
            <img src="../../static/pic/logo_alfa.png" class="lend-logo">

            <h2 class="lend-h2">Материалы по вашему проекту уже у нас!</h2>
        </div>

        <div class="lend-wrapper lend-wrap-two">
            <h2>Почему мы?</h2>

            <h3>Мы знаем, какие трудности вам встречаются:</h3>

            <img src="../../static/pic/diagram.png" class="diagram">

            <h3 class="lend-h3">И умеем их разрешать!</h3>
        </div>

        <div class="lend-wrapper lend-wrap-three">
            <div class="btn btn-large lend-btn">Присоединиться!</div>

            <h3>Снижайте ваши издержки, пользуясь нашими материалами!</h3>
        </div>

        <div class="circles">
            <div class="circle circle-one"></div>

            <div class="circle circle-two"></div>

            <div class="circle circle-three"></div>
        </div>
    </div>
</body>
</html>

<script>
(function () {
    var previousScroll = 0;

    $(window).scroll(function(){
       var currentScroll = $(this).scrollTop();
       if (currentScroll > previousScroll) {
           /*alert('down');*/
           if($(".lend-wrap-one").css("display")=="block"){
               $(".lend-wrap-one").css("display", "none");
               $(".lend-wrap-two").css("display", "block");
               $(".circle-one").css("background", "rgba(0, 128, 0, 0.47)");
               $(".circle-two").css("background", "green");
           }
           else if ($(".lend-wrap-two").css("display")=="block"){
               $(".lend-wrap-two").css("display", "none");
               $(".lend-wrap-three").css("display", "block");
               $(".circle-two").css("background", "rgba(0, 128, 0, 0.47)");
               $(".circle-three").css("background", "green");
           }
       }
       else {
           /*alert('up');*/
           if($(".lend-wrap-three").css("display")=="block"){
               $(".lend-wrap-three").css("display", "none");
               $(".lend-wrap-two").css("display", "block");
               $(".circle-three").css("background", "rgba(0, 128, 0, 0.47)");
               $(".circle-two").css("background", "green");
           }
           else if ($(".lend-wrap-two").css("display")=="block") {
               $(".lend-wrap-two").css("display", "none");
               $(".lend-wrap-one").css("display", "block");
               $(".circle-two").css("background", "rgba(0, 128, 0, 0.47)");
               $(".circle-one").css("background", "green");
           }
       }
       previousScroll = currentScroll;
    });

    $(".circle-one").click(function() {
        $(".lend-wrap-one").css("display", "block");
        $(".lend-wrap-two").css("display", "none");
        $(".lend-wrap-three").css("display", "none");
        $(".circle-one").css("background", "green");
        $(".circle-two").css("background", "rgba(0, 128, 0, 0.47)");
        $(".circle-three").css("background", "rgba(0, 128, 0, 0.47)");
    });

    $(".circle-two").click(function() {
        $(".lend-wrap-two").css("display", "block");
        $(".lend-wrap-one").css("display", "none");
        $(".lend-wrap-three").css("display", "none");
        $(".circle-two").css("background", "green");
        $(".circle-one").css("background", "rgba(0, 128, 0, 0.47)");
        $(".circle-three").css("background", "rgba(0, 128, 0, 0.47)");
    });

    $(".circle-three").click(function() {
        $(".lend-wrap-three").css("display", "block");
        $(".lend-wrap-two").css("display", "none");
        $(".lend-wrap-one").css("display", "none");
        $(".circle-three").css("background", "green");
        $(".circle-two").css("background", "rgba(0, 128, 0, 0.47)");
        $(".circle-one").css("background", "rgba(0, 128, 0, 0.47)");
    });
}());
</script>