<!DOCTYPE html>
<html>
<head lang="en">
    <title>ENGGEO</title>
    {% include "inc/header.html" %}
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
</head>

<body>
    {% include "inc/menuBlack.html" %}

    <div class="body-background">
        <div class="land-block back1 land-block-first">
            <div class="land-img left inlineblock">
                <img src="/pic/geoPsnow.jpg" class="land-round">
            </div>

            <div class="land-text right inlineblock">
                <h2>Точный поиск</h2>
                <h3 class="text-grey">
                    Вы точно знаете, где искать геодезический пункт.<br/>
                    Даже под метровым слоем снега!
                </h3>
            </div>
        </div>

        <hr/>

        <div class="land-block back2">
            <div class="land-text left inlineblock">
                <h2>Уверенность</h2>
                <h3 class="text-grey">
                    Сомнений, что для с большим трудом найденного <br/>
                    геодезического пункта найдутся координаты, больше нет!
                </h3>
            </div>

            <div class="land-img right inlineblock">
                <img src="/pic/geoP.jpg" class="land-round">
            </div>
        </div>

        <hr/>

        <div class="land-block back1">
            <div class="land-img left inlineblock">
                <img src="/pic/mapsNoProblem.jpg" class="land-round">
            </div>

            <div class="land-text right inlineblock">
                <h2>Экономия</h2>
                <h3 class="text-grey">
                    Экономия рабочего времени, топлива, здоровья <br/>
                    и нервов сотрудников - преимущество во всем!
                </h3>
            </div>
        </div>
    </div>
</body>
</html>