<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ENGGEO</title>
    <!--{% include "inc/header.html" %}-->
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/jquery/fullPage.js-master/jquery.fullPage.css">
    <link rel="shortcut icon" type="image/png" href="../../static/pic/logo_icon_16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../static/pic/logo_icon_32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../static/pic/logo_icon_48.png" sizes="48x48">
    <script type="text/javascript" src="../../static/jquery/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/jquery/jquery.mousewheel.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../static/jquery/fullPage.js-master/jquery.fullPage.js"></script>
    <script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				navigation: true,
				navigationPosition: 'right'
			});
		});
	</script>
</head>

<body>
    <!--{% include "inc/menuBlack.html" %}-->
    <div class="myNavbar" id="header">
        <div class="navbar__menu-btn inlineblock menu-btn">
            <img src="../../static/pic/ic_dehaze_black_48dp_2x.png" class="navbar__img">
        </div>

        <div class="navbar__logo inlineblock">
            <a href="/"><img src="../../static/pic/logo.png" class="navbar__img" alt="ENGGEO"></a>
        </div>

        <button type="button" class="btn btn-success btn-signup" data-toggle="modal" data-target="#reg_form">Присоединиться</button>

        <button type="button" class="btn btn-default btn-signin" data-toggle="modal" data-target="#auth_form">Войти</button>
    </div>

    <div class="body-background">
        <div id="fullpage">
            <div class="section" id="section0">
                <div class="land-wrapper land-wrap-one">
                    <img src="../../static/pic/logo_alfa.png" class="land-logo">

                    <h2 class="land-h2">Материалы по вашему проекту уже у нас!</h2>
                </div>
            </div>

            <div class="section" id="section1">
                <div class="land-wrapper land-wrap-two">
                    <h2>Почему мы?</h2>

                    <h3>Мы знаем, какие трудности вам встречаются:</h3>

                    <img src="../../static/pic/diagram.png" class="diagram">

                    <h3 class="land-h3">И умеем их разрешать!</h3>
                </div>
            </div>

            <div class="section" id="section2">
                <div class="land-wrapper land-wrap-three">
                    <div class="btn btn-large land-btn">
                        <h1 class="land-btn-text">Присоединиться!</h1>
                    </div>

                    <h3 class="land-h3-maxi">Снижайте ваши издержки, пользуясь нашими материалами!</h3>
                </div>
            </div>
        </div>
    </div>

    <!--div class="circles">
        <div class="circle circle-one"></div>

        <div class="circle circle-two"></div>

        <div class="circle circle-three"></div>
    </div-->
</body>
</html>

<script>
(function () {
    /*$(".circle-one").click(function() {
        $(".lend-wrap-one").css("display", "block");
        $(".lend-wrap-two").css("display", "none");
        $(".lend-wrap-three").css("display", "none");
        $(".circle-one").css("background", "#16BA3F");
        $(".circle-two").css("background", "rgba(0, 128, 0, 0.3)");
        $(".circle-three").css("background", "rgba(0, 128, 0, 0.3)");
        $(".btn-signup").css("display", "block");
    });

    $(".circle-two").click(function() {
        $(".lend-wrap-two").css("display", "block");
        $(".lend-wrap-one").css("display", "none");
        $(".lend-wrap-three").css("display", "none");
        $(".circle-two").css("background", "#16BA3F");
        $(".circle-one").css("background", "rgba(0, 128, 0, 0.3)");
        $(".circle-three").css("background", "rgba(0, 128, 0, 0.3)");
        $(".btn-signup").css("display", "block");
    });

    $(".circle-three").click(function() {
        $(".lend-wrap-three").css("display", "block");
        $(".lend-wrap-two").css("display", "none");
        $(".lend-wrap-one").css("display", "none");
        $(".circle-three").css("background", "#16BA3F");
        $(".circle-two").css("background", "rgba(0, 128, 0, 0.3)");
        $(".circle-one").css("background", "rgba(0, 128, 0, 0.3)");
        $(".btn-signup").css("display", "none");
    });

    $('.body-background').mousewheel(function(event) {
        console.log(event.deltaX, event.deltaY, event.deltaFactor);
        if (event.deltaY < 0) {
           if($(".lend-wrap-one").css("display")=="block"){
               $(".lend-wrap-one").css("display", "none");
               $(".lend-wrap-two").css("display", "block");
               $(".circle-one").css("background", "rgba(0, 128, 0, 0.3)");
               $(".circle-two").css("background", "#16BA3F");
           }
           else if ($(".lend-wrap-two").css("display")=="block"){
               $(".lend-wrap-two").css("display", "none");
               $(".lend-wrap-three").css("display", "block");
               $(".circle-two").css("background", "rgba(0, 128, 0, 0.3)");
               $(".circle-three").css("background", "#16BA3F");
               $(".btn-signup").css("display", "none");
           }
        }
        else {
           if($(".lend-wrap-three").css("display")=="block"){
               $(".lend-wrap-three").css("display", "none");
               $(".lend-wrap-two").css("display", "block");
               $(".circle-three").css("background", "rgba(0, 128, 0, 0.3)");
               $(".circle-two").css("background", "#16BA3F");
               $(".btn-signup").css("display", "block");
           }
           else if ($(".lend-wrap-two").css("display")=="block") {
               $(".lend-wrap-two").css("display", "none");
               $(".lend-wrap-one").css("display", "block");
               $(".circle-two").css("background", "rgba(0, 128, 0, 0.3)");
               $(".circle-one").css("background", "#16BA3F");
           }
        }
    });*/
}());
</script>
