<!DOCTYPE html>
<html>
<head lang="en">
    <title>ENGGEO</title>
    {% include "inc/header.html" %}
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
</head>

<body>
    {% include "inc/menu.html" %}

    <div class="body-background">
        <div class="land-block">
            <div class="land-img left inlineblock">
                <img src="/pic/demopic.jpg">
            </div>

            <h4 class="land-text right inlineblock">
                Вы точно знаете, где искать геодезический пункт.<br/>
                Даже под метровым слоем снега!
            </h4>
        </div>

        <div class="land-block">
            <h4 class="land-text inlineblock">
                Сомнений, что для с большим трудом найденного <br/>
                геодезического пункта найдутся координаты, больше нет!
            </h4>

            <div class="land-img inlineblock">
                <img src="/pic/demopic.jpg">
            </div>
        </div>

        <div class="land-block">
            <div class="land-img inlineblock">
                <img src="/pic/demopic.jpg">
            </div>

            <h4 class="land-text right inlineblock">
                Экономия рабочего времени, топлива, здоровья <br/>
                и нервов сотрудников - преимущество во всем!
            </h4>
        </div>
    </div>
</body>
</html>