{% extends "base.html" %}
{% load photo_extras %}
{% block content %}
    <div class="body-background">
        <div class="land-block back1 land-block-first">
            <div class="land-text-right left inlineblock">
                <h2 class="text-title text-bold">Поиск тригопунктов уже не проблема!</h2>
                <p class="land-text-grey">
                    Вы точно знаете, где искать <br/>
                    геодезический пункт.<br/>
                    Даже под метровым слоем снега!
                </p>
            </div>

            <div class="land-img right inlineblock">
                <img src="{{ "/pic/trg.jpg"|resize:"300x300"}}" class="land-round">
            </div>
        </div>

        <hr/>

        <div class="land-block back2">
            <div class="land-img left inlineblock">
                <img src="{{ "/pic/topoplan.jpg"|resize:"300x300"}}" class="land-round">
            </div>

            <div class="land-text-left right inlineblock">
                <h2 class="text-title text-bold">Хотите сравнить свою топосъемку<br> с материалами других специалистов?</h2>
                <p class="land-text-grey">
                Не можете найти архивный топографический материал?<br>
                Присоединяйтесь к нам!
                </p>
            </div>
        </div>

        <hr/>

        <div class="land-block back1">
            <div class="land-text-right left inlineblock">
                <h2 class="text-title text-bold">Забыли отстоять пару реперов?<br>Понадобился небольшой досъем к Вашему топографическому плану?</h2>
                <p class="land-text-grey">
                Теперь для этого вовсе необязательно возвращаться на объект!<br>
                С нашей услугой «Сделай попутно» Вы можете попросить об этом коллег, выполняющим работы в том же районе!<br>
                Уже скоро!
                </p>
            </div>

            <div class="land-img right inlineblock">
                <img src="{{ "/pic/subwork.jpg"|resize:"300x300"}}" class="land-round">
            </div>
        </div>

        <hr/>

        <div class="land-block back2">
            <div class="land-img left inlineblock">
                <img src="{{ "/pic/razrez.jpg"|resize:"300x300"}}" class="land-round">
            </div>

            <div class="land-text-left right inlineblock">
                <h2 class="text-title text-bold">Вам нужно заранее знать, какой будет геологический разрез на месте бурения?<br> Какой буровой инструмент выбрать?</h2>
                <p class="land-text-grey">
                С нашим проектом это стало возможно!
                </p>
            </div>
        </div>

        <hr/>

        <div class="land-block back1">
            <div class="land-text-right left inlineblock">
                <h2 class="text-title text-bold">Некому обработать съемку, написать отчет?<br> Не успеваете выполнить работы в срок?</h2>
                <p class="land-text-grey">
                    Обратитесь за помощью к коллегам!<br>
                    Оставьте заявку, и желающие помочь вам, сами найдут вас очень скоро!
                </p>
            </div>

            <div class="land-img right inlineblock">
                <img src="{{ "/pic/freelance.jpg"|resize:"300x300"}}" class="land-round">
            </div>
        </div>

        <hr/>

        <div class="land-block back2">
            <div class="land-img left inlineblock">
                <img src="{{ "/pic/arenda.jpg"|resize:"300x300"}}" class="land-round">
            </div>

            <div class="land-text-left right inlineblock">
                <h2 class="text-title text-bold">Не хватает оборудования, но нет желания его покупать?</h2>
                <p class="land-text-grey">
                На нашем сайте Вы найдете самые дешевые варианты аренды нужных Вам приборов!
                </p>
            </div>
        </div>

        <hr/>

        <div class="land-block back1">
            <div class="land-text-right left inlineblock">
                <h2 class="text-title text-bold">Проект EngGeo – реальное конкурентное преимущество инженеров-изыскателей!</h2>
                <p class="land-text-grey">
                Потратьте ресурсы на развитие компании, а не на издержки и потери.<br>
                Экономия рабочего времени, топлива, <br>
                здоровья и нервов сотрудников - преимущество во всем!
                </p>
            </div>

            <div class="land-img right inlineblock">
                <img src="{{ "/pic/result.jpg"|resize:"300x300"}}" class="land-round">
            </div>
        </div>
    </div>
{% endblock %}