<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ENGGEO</title>
    <!--{% include "inc/header.html" %}-->
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="../../static/pic/logo_icon_16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../static/pic/logo_icon_32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../static/pic/logo_icon_48.png" sizes="48x48">
    <script src="../../static/jquery/jquery-1.11.2.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <!--{% include "inc/menu.html" %}-->
    <div class="myNavbar"></div>

    <div class="body-background">
        <div class="lend-wrapper">
            <img src="../../static/pic/logo_alfa.png" class="lend-logo">

            <h2 class="lend-h2">Материалы по вашему проекту уже у нас!</h2>
        </div>

        <div class="circles">
            <div class="circle" style="background: green"></div>

            <div class="circle"></div>

            <div class="circle"></div>
        </div>
    </div>
</body>
</html>
