<script>
ymaps.ready(init);
function init () {
    var myMap = new ymaps.Map("YMapsID", {
        center: [54.75, 37.60],
        zoom: 9,
        controls: ['zoomControl', 'rulerControl', 'geolocationControl', 'fullscreenControl', 'typeSelector']
        }, {
                searchControlProvider: 'yandex#search'
        }),
        loadingObjectManager = new ymaps.LoadingObjectManager('http://test2.enggeo.ru/map/tile/?bbox=%b', {   
            // Включаем кластеризацию.
            clusterize: true,
            // Опции кластеров задаются с префиксом cluster.
            clusterHasBalloon: true,
            // Опции объектов задаются с префиксом geoObject
            geoObjectOpenBalloonOnClick: true,
            clusterDisableClickZoom: true
        });   
 
    loadingObjectManager.objects.options.set('preset', 'islands#greenDotIcon');
    loadingObjectManager.clusters.options.set('preset', 'islands#greenClusterIcons');
    myMap.geoObjects.add(loadingObjectManager);
    
    /*
	    {% for balloon in balloons %}
            myPlacemark{{ balloon.id }} = new ymaps.Placemark([{{ balloon.lat }}, {{ balloon.lng }}], {
                balloonContentHeader: "{{ balloon.title }}",
                balloonContentBody: "x = {{ balloon.lat }}; y = {{ balloon.lng }}<br>Format = {{ balloon.myFormat.name }}<br>Instrument = {{ balloon.instrument.name }} <br>Date={{ balloon.date }}",
                {% if balloon.material_photo %}balloonContentFooter: "<img src='{{ balloon.material_photo.url }}' width='128' height='128'/>",{% endif %}
                iconContent: 'T'
            });                 
		    myMap.geoObjects.add(myPlacemark{{ balloon.id }});
        {% endfor %}
        
	    {% for trgstation in trgstations %}
            myTrgMark{{ trgstation.id }} = new ymaps.Placemark([{{ trgstation.lat }}, {{ trgstation.lng }}], {
                balloonContentHeader: "{{ trgstation.title }}",
                balloonContentBody: "Ширина: {{ trgstation.lat }}<br>Долгота: {{ trgstation.lng }}<br>Тип: {{ trgstation.get_type_display }} <br>Класс точности: {{ trgstation.precision }}<br>Высота над уровнем моря: {{ trgstation.height }}м<br>date = {{ trgstation.date|date:"d.m.Y" }} ",
                {% if trgstation.center_photo %}balloonContentFooter: "<a href='{{ trgstation.center_photo.url }}' class='fancybox' title='Фото центра'><img src='{{ trgstation.center_photo.url }}' width='128' height='128'/></a>", {% endif %}
                hintContent: "" 
        }, {
            iconLayout: 'default#image',
            iconImageHref: 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Japanese_Map_symbol_(Triangulation_point).svg/2000px-Japanese_Map_symbol_(Triangulation_point).svg.png',
            iconImageSize: [32, 32],
            iconImageOffset: [-16, -16]
        });
		    myMap.geoObjects.add(myTrgMark{{ trgstation.id }});
        {% endfor %}
*/

        myMap.events.add('contextmenu', function (e) {
            var coords = e.get('coords');  
            myMap.balloon.open(coords, {
                contentHeader:'Добавить материал',
                contentBody:
                    '<p>Координаты щелчка: ' + [
                    coords[0].toPrecision(6),
                    coords[1].toPrecision(6)
                    ].join(', ') + '</p>' +
                    '<p><a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Добавить материал</a></p>' + 
                    '<p><a href="#trigpoint" role="button" class="btn btn-primary" data-toggle="modal">Добавить тригапункт</a></p>',
            }); 
              
           $("#xcoord").replaceWith("<input type=\"text\" id=\"xcoord\" name=\"coord1\" value=\"" + coords[0].toPrecision(6) + "\">");
           $("#ycoord").replaceWith("<input type=\"text\" id=\"ycoord\" name=\"coord2\" value=\"" + coords[1].toPrecision(6) + "\">");
           $(".trgcoordx").attr('value', coords[0].toPrecision(6));
           $(".trgcoordy").attr('value', coords[1].toPrecision(6));
         });
        filterYear = new ymaps.control.Button({
            data: {
                content: "Отфильтровать по годам",
            },
            options: {
                selectOnClick: false,
                maxWidth: 200
                    }
        });
        filterYear.events.add(
            'press',
            function () {
                $("#filteryears_form").modal('show');
            }
        )
        myMap.controls.add(filterYear, {float: 'right'});
        
        filterFormat = new ymaps.control.Button({
            data: {
                content: "Отфильтровать по format"
            },
            options: {
                selectOnClick: false,
                maxWidth: 200
                    }
        });
        filterFormat.events.add(
            'press',
            function () {
            $("#filterformats_form").modal('show');
            }
        )
        myMap.controls.add(filterFormat, {float: 'right'});
}
</script>
