<form class="modal hide fade" method="post" action="{% url 'login' %}" id="auth_form" style="opacity: 0.99">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Войти</h4>
      </div>
      <div class="modal-body">
        <input id="username" name="username" required="required" type="text" placeholder="myusername"/>
	    <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Войти"/>
	{% csrf_token %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</form><!-- /.modal -->
