<div id="trigpoint" class="modal fade">
  <div class="modal-dialog modal-add-trgpoint">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>

            <h3 id="myModalLabel">Введите данные:</h3>
            <h5 class="hide errormsg addtrgpoint">Пожалуйста, введите корректные данные!</h5>
        </div>

        <div class="modal-body">
            <form class="form-horizontal" method="post" action="{% url 'send_trgpoint' %}" id="trgpoint_form" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-3 control-label label-align-left">Координаты*</label>

                    <div class="col-sm-4">
                        <input type="number" class="trgcoordx form-control" placeholder="x" name="trgcoord1" value="" min="-180" max="180">
                    </div>

                    <div class="col-sm-4">
                        <input type="number" class="trgcoordy form-control" placeholder="y" name="trgcoord2" value="" min="-90" max="90">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label label-align-left">Название пункта*</label>

                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="name" placeholder="" name="trgname" value="" maxlength="128">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label label-align-left">Тип пункта*</label>

                    <div class="col-sm-9">
                        <select name="trgtype" class="form-control">
                            <option value='trian'>Пункт триангуляции</option>
                            <option value='trial'>Пункт трилатерации</option>
                            <option value='polyg'>Пункт полигонометрии</option>
                            <option value='reper'>Грунтовый репер</option>
                            <option value='znak'>Стенной знак</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label label-align-left">Класс точности</label>

                    <div class="col-sm-9">
                        <input class="trgaccuracy form-control" type="number" id="name" placeholder="" name="trgaccuracy" value="" maxlength="15">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label label-align-left">Тип пункта</label>

                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" name="trggov" value="gover">государственный</input>
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="trggov" value="notgover">негосударственный</input>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label label-align-left">Высота, м БС</label>

                    <div class="col-sm-9">
                        <input type="number" class="trgheight form-control" placeholder="" name="trgheight" value="" maxlength="7">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label label-align-left">Состояние ориентирного знака</label>

                    <div class="col-sm-9 margin-form">
                        <label class="radio-inline">
                            <input type="radio" name="trgorientstate" value="save">сохранился</input>
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="trgorientstate" value="notsave">не сохранился</input>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label label-align-left">Состояние наружного знака</label>

                    <div class="col-sm-9 margin-form">
                        <label class="radio-inline">
                            <input type="radio" name="trgoutstate" value="save">сохранился</input>
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="trgoutstate" value="notsave">не сохранился</input>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label label-align-left">Состояние центра</label>

                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" name="trgcenterstate" value="save">сохранился</input>
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="trgcenterstate" value="notsave">не сохранился</input>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label label-align-left">Положение центра относительно уровня земли, м</label>

                    <div class="col-sm-9 margin-form">
                        <input type="number" class="ctrheight form-control" placeholder="" name="trgcenterplace" value="" maxlength="3" min="0" max="999">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4">Фото центра</label>

                    <div class="controls col-sm-8">
                      <input class="materialinput" name="photo" type="file"/>
                    </div>

                </div>


                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>

                    <input class="btn btn-primary js-submittrgpoint" type="button" value="Send"/>
                </div>
                {% csrf_token %}
            </form>
        </div>
      </div>
    </div>
</div>
