<form class="modal fade" method="post" action="{% url 'uploadmaterial' %}" id="material_form" enctype="multipart/form-data">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                <h4 class="modal-title">Выберете файл</h4>
                <h5 class="hide errormsg-format">Выберете правильный формат</h5>
                <h5 class="hide errormsg-file">Выберете файл</h5>
            </div>
            <div class="modal-body">
                <input class="materialinput" name="material" required="required" type="file"/>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary js-submitmaterial">Отправить</button>
                {% csrf_token %}
            </div>
        </div><!— /.modal-content —>
    </div><!— /.modal-dialog —>
</form>


<script>
$('.js-submitmaterial').click(function(){
        document.forms['material_form'].submit();
        });
</script>
