<button type="button" class="btn btn-default hide filteryears" style="float: right; margin-top: 9px; margin-right:10px;font-weight: bold;" data-toggle="modal" data-target="#filteryears_form">Years</button>
<form class="modal hide fade" method="post" action="{% url 'filter_years' %}" id="filteryears_form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Input year</h4>
        <h5 class="hide errormsg">Please input correct year</h5>
      </div>
      <div class="modal-body">
        <input id="year" name="year" required="required" type="text" placeholder="input year"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="button" class="btn btn-primary js-submityear" value="Filter!"/>
        {% csrf_token %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</form>

<script>
    $('.js-submityear').click(function(){
        getValue = $('#year').val();
        if (!isYear(getValue)){
            $(".errormsg").removeClass('hide');
        }
        else{
            $(".errormsg").addClass('hide');
            document.forms['filteryears_form'].submit();
       }
    });
    
    function isYear(n) {
        if(!isNaN(parseInt(n)) && isFinite(n)){
            if (parseInt(n)>1900 && parseInt(n)<2100)
                return true
            else
                return false;}
        else
            return false;
    }
</script>
