<div class="myNavbar nav-white">
    <div class="myNavbar-nav">
      <div class="navbar__menu-btn inlineblock menu-btn">
        <img src="/pic/ic_dehaze_black_48dp_2x.png" class="navbar__img-menu">
      </div>
      <div class="navbar__logo inlineblock">
        <a href="/"><img src="/pic/logo.png" class="navbar__img-logo" alt="ENGGEO"></a>
      </div>
      {% if user.is_authenticated %}
        {% include "inc/profile.html" %}
      {% else %}
        <button type="button" class="btn btn-success btn-signup" data-toggle="modal" data-target="#reg_form">Присоединиться</button>
        <button type="button" class="btn btn-default btn-signin" data-toggle="modal" data-target="#auth_form">Войти</button>
      {% endif %}
      <button type="button" class="btn btn-default" style="float: right; margin-top: 9px; margin-right:10px;font-weight: bold;" data-toggle="modal" data-target="#filteryears_form">Years</button>
      <div class="menu">
      </div>
    </div>
</div>