<div class="myNavbar">
    <div class="navbar__logo inlineblock">
        <a href="/"><img src="/pic/logo.png" class="menu__img" alt="ENGGEO"></a>
    </div>
    <div class="navbar__menu-btn inlineblock menu-btn">
        <img src="/pic/ic_dehaze_black_48dp_2x.png" class="menu__img">
    </div>
<!-- {{ user }} -->
    {% if user.is_authenticated %}
        {% include "profile.html" %}
    {% else %}
        {% include "reg_form.html" %}
        {% include "auth_form.html" %}
        <button type="button" class="btn btn-success" style="float: right; margin-top: 9px; margin-right:10px;font-weight: bold;" data-toggle="modal" data-target="#reg_form">Sign Up</button>
        <button type="button" class="btn btn-default" style="float: right; margin-top: 9px; margin-right:10px;font-weight: bold;" data-toggle="modal" data-target="#auth_form">Sign In</button>
    {% endif %}
</div>


    <script>
        $(".menu-btn").click(function(){
            if ($(".myNavbar").height() < 100)
                $(".myNavbar").height(100);
            else
                $(".myNavbar").height(50);
        });
    </script>

