<li class="navbar__profile-btn rightfloat profile-btn btn-group">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <div class="navbar__profile-name inlineblock">
          <p>{{ user.username }}</p>
      </div>
      {% if avatar == "" %}
      <img src="/pic/ic_account_box_black_48dp_2x_grey.png" class="navbar__img-avatar">
      {% else %}
      <img src="{{ avatar }}" class="navbar__img">
      {% endif %}
  </a>

  <span class="caret"></span>

    <ul class="dropdown-menu myDroprown-menu">
    <li>
      <a href="#">Мой счёт: {{ my_cash }}</a>
    </li>

    <li>
        <a href="#">Мой рейтинг: {{ my_rating }}</a>
    </li>

    <li class="li-margin-btn">
      <button type="button" class="btn btn-primary btn-sm avataradd">Добавить аватарку</button>
    </li>

    <li>
        <a href="{% url 'logout' %}">Выход</a>
    </li>
    </ul>
</li>

<script>









</script> 
