/******************************************HELP STYLES BEGIN***************************/

*
{
  margin: 0;
  padding: 0;
}

html, body
{
  height: 100%;
  width: 100%;
}

.rightfloat
{
  float: right;
}

.nowrap
{
  white-space: nowrap;
}

.inlineblock
{
  display: inline-block;
}

/****************************************HELP STYLES END**********************************/

/****************************************MAPS BEGIN**************************************/

.YMaps
{
  height: calc(100% - 50px);
  width: 100%;
}

.YMaps img
{
  max-width: none !important;
}

/***************************************MAPS END*****************************************/

/**************************************MENU BEGIN***************************************/

.myNavbar
{
  background-color: black;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 600;
}

.myNavbar .nowrap
{
    height: 50px;
}

.nowrap .inlineblock
{
  cursor: pointer;
  height: inherit;
}

.navbar__logo
{
  color: white;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}

.navbar__img
{
  height: 50px;
  vertical-align: -12px;
}

.navbar__item
{
  color: white;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: large;
  font-weight: 100;
  height: inherit;
  padding-left: 5px;
  padding-right: 5px;
}

.item-text
{
  display: inline-block;
  vertical-align: -12px;
}

.navbar__profile-name
{
  color: #ffffff;
  font-size: large;
  vertical-align: -12px;
}

.navbar__profile-short
{
  background-color: #ffffff;
  border-bottom-color: black;
  border-bottom-left-radius: 10px;
  border-left-color: black;
  border-style: groove;
  color: black;
  display: none;
  height: 100px;
  right: 0;
  padding: 5px;
  position: absolute;
  z-index: 100;
}

.menu
{
  background-color: #000000;
  border-top: 1px solid #ffffff;
  display: none;
  height: calc(100% - 52px);
  position: absolute;
  width: 150px;
  z-index: 506;
}

.btn-signup
{
  background-image: linear-gradient(to bottom,#16BA3F,#51a351) !important;
  background-image: -webkit-linear-gradient(to bottom,#16BA3F,#51a351) !important;
  background-image: -o-linear-gradient(to bottom,#16BA3F,#51a351) !important;
  float: right;
  font-weight: bold;
  margin-top: 9px;
  margin-right: 10px;
}

.btn-signin
{
  float: right;
  font-weight: bold;
  margin-top: 9px;
  margin-right:10px;
}

/***************************************MENU END*****************************************/

/*************************************BALLOON BEGIN**************************************/

.boldtext
{
  font-weight: bold;
}

.bluetext
{
  color: blue;
}

/*************************************BALLOON END****************************************/

/*************************************LANDING BEGIN*******************************************/

.body-background
{
    margin: auto;
    padding: 20px;
    width: 80Я а%;
}

.land-text
{
    text-align: center;
}

.land-logo
{
  margin: 50px 0 30px 0;
}

.land-btn
{
  background: #F5B700 !important;
  moz-border-radius: 20px !important;
  border-radius: 20px !important;
  color: #ffffff !important;
  height: 80px !important;
  margin: 150px 0 20px 0 !important;
  padding-top: 25px !important;
  width: 400px !important;
}

.land-btn-text
{
  font-size: 45px;
}

/************************************LANDING END*********************************************/

/***************************************TEST BEGIN*******************************************/

.btn-test
{
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: 50;
}

/****************************************TEST END********************************************/
