/**************************************TO DO LIST BEGIN**************************************/
/*
1024x768 iPad
1280x1024 RuslOn
320x480 iPhone 3 остальные больше
/***************************************TO DO LIST END***************************************/

/******************************************HELP STYLES BEGIN***************************/

*
{
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
    width: 100%;
}

.rightfloat
{
    float: right;
}

.leftfloat
{
    float: left;
}

.nowrap
{
    white-space: nowrap;
}

.inlineblock
{
    display: inline-block;
}

/****************************************HELP STYLES END**********************************/

/****************************************MAPS BEGIN**************************************/

.YMaps
{
    height: calc(100% - 60px);
    position: absolute;
    top: 60px;
    width:100%;
}

.YMaps img
{
    max-width: none !important;
}

 .customControl
{
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 450px;
    padding: 10px;
}

.info__img-prev
{
    height: 100px;
    margin: 0 5px 0 5px;
}

.info__btn-download
{

}

.info__btn-close
{
    margin: 0 0 0 5px;
}

.info__title-center
{
    font-weight: bold;
    text-align: center;
}

.text-grey
{
    color: grey;
}

.images
{
    margin: 0 0 0 50px;
}

.info__btns
{
    float: right;
}

.map__custom-control__text {
    margin: 2px 0 0 0;
    font: 13px Arial,Helvetica,sans-serif;
}
/**************************************MAPS END*****************************************/

/**************************************NAVBAR BEGIN***************************************/

.nav-black
{
    background-color: black;
}

.nav-white
{
    background-color: white;
}

.myNavbar
{
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35), 0 0 12px 0 rgba(0, 0, 0, 0.28);
    height: 60px;
    position: relative;
    width: 100%;
    z-index: 2;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35), 0 0 12px 0 rgba(0, 0, 0, 0.28);
}

.myNavbar-nav
{
    height: 60px;
    line-height: 60px;
    margin: 0 70px;
}

.myNavbar-nav li
{
    display: inline;
    line-height: 60px;
    height: 60px;
}

.navbar__menu-btn
{
    cursor: pointer;
}

.navbar__img-menu
{
    height: 40px;
    width: 25px;
}

.navbar__logo
{
    color: white;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: bolder;
}

.navbar__img-logo
{
    height: 50px;
}

.navbar__btn-signin
{
    height: 60px;
}

.navbar__btn-signup
{
    height: 60px;
    width: 100px;
}

.navbar__profile-name
{
    color: black;
    font-size: large;
    top: 5px;
}

.navbar__img-avatar
{
    height: 60px;
}

.navbar__profile-short
{
    background-color: #ffffff;
    border-bottom-color: black;
    border-bottom-left-radius: 10px;
    border-left-color: black;
    border-style: groove;
    color: black;
    display: none;
    height: 100px;
    right: 0;
    padding: 5px;
    position: absolute;
    z-index: 5;
}

.btn-signup
{
    background-image: linear-gradient(to bottom, #16BA3F, #51a351) !important;
    background-image: -webkit-linear-gradient(to bottom, #16BA3F, #51a351) !important;
    background-image: -o-linear-gradient(to bottom, #16BA3F, #51a351) !important;
    float: right;
    font-weight: bold;
}

.btn-signin
{
    float: right;
    font-weight: bold;
}

.navbar-btn
{
    margin: 13px 5px 13px 5px !important;
}

.myDropdown-menu
{
    right: 5px;
    left: auto;
}

.li-margin-btn
{
    margin: 0 0 0 15px;
}

.btn-group.open .dropdown-toggle
{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

a.dropdown-toggle:hover
{
    text-decoration: none;
}

.avatar__input 
{
    margin-bottom: 15px;
}

/***************************************NAVBAR END*****************************************/

/****************************************MENU BEGIN***************************************/

.menu
{
    background-color: white;
    border-top: 1px solid #ffffff;
    display: none;
    height: calc(100% - 60px);
    position: absolute;
    width: 150px;
    z-index: 10;
}

/*Может потом понадобится. Изменить названия классов!
.navbar__item
{
    color: white;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: large;
    font-weight: 100;
    height: inherit;
    padding-left: 5px;
    padding-right: 5px;
}

.item-text
{
    display: inline-block;
    vertical-align: -12px;
}*/

/****************************************MENU END******************************************/

/*************************************BALLOON BEGIN**************************************/

.boldtext
{
    font-weight: bold;
}

.bluetext
{
    color: blue;
}

.label-align-left
{
    text-align: left !important;
}

.margin-form
{
    margin: 10px 0 0 0;
}

.modal-add-trgpoint
{
    width: 690px !important;
}

/*************************************BALLOON END****************************************/

/*************************************LANDING BEGIN*******************************************/

.body-background
{
    top: 60px;
    margin: auto;
    width: 100%;
}

.land-block
{
    padding: 15px 0 15px 0;
    text-align: center;
}

.land-block-first
{
    padding: 4% 4% 15px 4%;
}

.back1
{
    background: url(/pic/back1.png)
}

.back2
{
    background: url(/pic/back2.png);
}

.land-text-left
{
    text-align: left;
    vertical-align: middle;
}

.land-text-right
{
    text-align: right;
    vertical-align: middle;
}

.left
{
    margin: 0 50px 0 0;
}

.right
{
    margin: 0 0 0 50px;
}

.land-img
{
    width: 350px;
}

.land-logo
{
    margin: 50px 0 30px 0;
}

.land-btn
{
    background: #F5B700 !important;
    moz-border-radius: 20px !important;
    border-radius: 20px !important;
    color: #ffffff !important;
    height: 80px !important;
    margin: 150px 0 20px 0 !important;
    padding-top: 25px !important;
    width: 400px !important;
}

.land-btn-text
{
    font-size: 1.3em;
}

.land-text-grey
{
    color: grey;
    font-family: 'Open Sans', Arial, Helvetica, FreeSans, 'Liberation Sans', 'Nimbus Sans L', sans-serif;
    font-size: 1.664em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.22em
}

.text-bold
{
    font-weight: bold;
}

.land-round
{
    height:300px;
    width: 300px;
    -moz-border-radius: 175px; /* Firefox */
    -webkit-border-radius: 175px; /* Safari, Chrome */
    -khtml-border-radius: 175px; /* KHTML */
    border-radius: 175px; /* CSS3 */
    behavior: url(border-radius.htc); /*IE */
}

hr
{
    background-color: #9b9b9b;
    border-bottom:1px solid #F4F4F4 !important;
    margin: 0 !important;
}

/************************************LANDING END*********************************************/

/***************************************TEST BEGIN*******************************************/

.btn-test
{
    bottom: 0px;
    right: 0px;
    position: absolute;
    z-index: 6;
}

/****************************************TEST END********************************************/

#simplebox img, #simplebox div, #simplebox span {
    margin:0;
    padding:0;
    border:none;
    outline:none;
}


#simple-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    z-index: 1100;
    display: none;
}



#simple-tmp {
    visibility:hidden;
    overflow: auto;
    display:none;
}



#simple-outer {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    display: none;
    border-radius:7px;
    z-index: 1101;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    box-shadow:0 0 10px 2px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 10px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 0 10px 2px rgba(0,0,0,0.4);
}

#simple-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#simple-img {
    display:block;
    height:100%;
    line-height:0;
    padding:0;
    vertical-align:top;
    width:100%;
}
#simple-loading {
    background:none repeat scroll 0 0 transparent;
    cursor:pointer;
    display:none;
    height:40px;
    left:50%;
    margin-left:-20px;
    margin-top:-20px;
    overflow:hidden;
    position:fixed;
    top:50%;
    width:40px;
    z-index:1104;
}

#simple-loading div {
    background:url("imgs/simplebox.png") no-repeat scroll 0 0 transparent;
    height:480px;
    left:0;
    position:absolute;
    top:0;
    width:40px;
}

#simple-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 32px;
    height: 32px;
    background: url('imgs/simplebox.png') -40px 0 no-repeat;
    cursor: pointer;
    z-index: 1103;
    display:none; 
}


#simple-title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Arial,sans-serif;
    font-size: 12px;
    z-index: 1102;
}

#simple-title.simple-title-inside {
    width:100%;
    padding: 10px 0;
    text-align: center;
    color: #333;
}


#simple-title.simple-title-over {
    color: #FFF;
    text-align: center;
}

#simple-title #simple-title-over {
    padding: 10px;
    background: rgba(0,0,0,0.6);
    display: block;
}

#simple-left, #simple-right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    z-index: 1102;
    display: none;
}

#simple-left {
    left: 0;
}

#simple-right {
    right: 0;
}

#simple-left-ico, #simple-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1102;
    display: block;
}

#simple-left-ico {
    background: transparent url('imgs/simplebox.png') -40px -30px no-repeat;
}

#simple-right-ico {
    background: transparent url('imgs/simplebox.png') -40px -60px no-repeat;
}


#simple-left:hover span {
    left: 20px;
}

#simple-right:hover span {
    left: auto;
    right: 20px;
}


