<!DOCTYPE html>
<html>
<head lang="en">
    <title>ENGGEO</title>
    {% include "inc/header.html" %}
    {% include "inc/map_window.html" %}    
    {% include "inc/add_placemarks.html" %}
</head>

<body> 

    {% include "inc/menu.html" %}

    <div id="YMapsID" class="YMaps"></div>


    {% include "inc/form_to_add_balloons.html" %}
    {% include "inc/form_to_add_trgpoint.html" %}
    {% include "inc/form_filter_years.html" %}

    {% if not user.is_authenticated %}
      {% include "inc/reg_form.html" %}
      {% include "inc/auth_form.html" %}
    {% endif %}
</body>
</html>
