<!DOCTYPE html>
<html>
<head lang="en">
    <title>ENGGEO</title>
    {% include "inc/header.html" %}
    {% include "inc/map_window.html" %}    
    {% include "inc/add_placemarks.html" %}
</head>

<body> 

    {% include "inc/menuWhite.html" %}

    <!--div id="YMapsID" class="YMaps"></div-->

    <div id="YMapsID" class="YMaps"></div>

    {% include "inc/form_to_add_balloons.html" %}
    {% include "inc/form_to_add_trgpoint.html" %}
    {% include "inc/form_filter_years.html" %}
    {% include "inc/form_filter_format.html" %}
    {% include "inc/form_avatar.html" %} 

    {% include "inc/footer.html" %}
    <script src="/js/map.js"></script>
</body>
</html>
