/******************************************HELP STYLES BEGIN***************************/

*
{
  margin: 0;
  padding: 0;
}

html, body
{
  height: 100%;
  width: 100%;
}

.rightfloat
{
  float: right;
}

.nowrap
{
  white-space: nowrap;
}

.inlineblock
{
  display: inline-block;
}

/****************************************HELP STYLES END**********************************/

/****************************************MAPS BEGIN**************************************/

.YMaps
{
  height: calc(100% - 50px);
  width: 100%;

  img
  {
      max-width: none !important;
  }
}

/***************************************MAPS END*****************************************/

/**************************************MENU BEGIN***************************************/

.myNavbar
{
  background-color: black;
  height: 50px;
  width: 100%;

  .nowrap
  {
    height: 50px;

    .inlineblock
    {
      cursor: pointer;
      height: inherit;
    }
  }
}

.navbar__logo
{
  color: white;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: xx-large;
  font-weight: bolder;
}

.navbar__img
{
  height: 50px;
  vertical-align: -12px;
}

.navbar__item
{
  color: white;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: large;
  font-weight: 100;
  height: inherit;
  padding-left: 5px;
  padding-right: 5px;
}

.item-text
{
  display: inline-block;
  vertical-align: -12px;
}

.navbar__profile-short
{
  background-color: #ffffff;
  border-bottom-color: black;
  border-bottom-left-radius: 10px;
  border-left-color: black;
  border-style: groove;
  color: black;
  display: none;
  height: 100px;
  right: 0;
  padding: 5px;
  position: absolute;
  z-index: 100;
}

.menu
{
  background-color: #000000;
  border-top: 1px solid #ffffff;
  display: none;
  height: calc(100% - 52px);
  position: absolute;
  width: 150px;
}

/***************************************MENU END*****************************************/

/*************************************BALLOON BEGIN**************************************/

.boldtext
{
  font-weight: bold;
}

.bluetext
{
  color: blue;
}

/*************************************BALLOON END****************************************/

/***************************************TEST BEGIN*******************************************/

.btn-test
{
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: 50;
}

/****************************************TEST END********************************************/
