{% extends "base.html" %}
    {% block extra_head %}
    {% include "inc/map_window.html" %}
    <link rel="stylesheet" href="/css/bootstrap-tour.min.css" />
    <script src="/js/bootstrap-tour.min.js" type="text/javascript"></script>
    {% endblock %}

{% block content %}
    <div id="YMapsID" class="YMaps"></div>
    {% include "inc/form_to_add_balloons.html" %}
    {% include "inc/form_to_add_trgpoint.html" %}
{% endblock %}

{% block footer %}
  {% include "inc/footer.html" %}
  <script src="/js/map.js?1"></script>
{% endblock %}