{{ callback }}({
    "type": "FeatureCollection",
    "features": [
    {% for balloon in trg_list %}
        {
            "type": "Feature",
            "id": "trg_{{ balloon.id }}",
            "geometry": {
                "coordinates": [{{ balloon.lat }}, {{ balloon.lng }}],
                "type": "Point"
            },
            "properties": {
                "balloonContentHeader": "<h5 class=\"info__title-center\">{{ balloon.title }}</h5><h5 class=\"map__custom-control__text text-grey\">Широта: {{ balloon.lat }} </h5><h5 class=\"map__custom-control__text text-grey\">Долгота: {{ balloon.lng }} </h5><h5 class=\"map__custom-control__text text-grey\">Альтитуда: {{ balloon.height }} <h5><hr/>",
                "balloonContentBody": "<h5>Тип пункта: {{ balloon.get_type_display }} </h5><h5>Класс точности: {{ balloon.precision }} </h5><h5>Ориентирный знак: {% if baloon.backsight %}сохранился{% else %}не сохранился{% endif %}</h5><h5>Наружный знак: {% if baloon.outer %}сохранился{% else %}не сохранился{% endif %}</h5><h5>Центр: {% if baloon.center %}сохранился{% else %}не сохранился{% endif %}</h5><h5>Положение центра относительно уровня земли: {{ balloon.center_height }}, м</h5>{% if balloon.images %}{% for img in balloon.images %}Фото: <a href=\"{{ img.url }}\" class=\"fancybox\" title=\"Фото центра\"><img src=\"{{ img.url }}\" width=\"160\" height=\"90\" style=\"margin-left:50px\"/></a>{% endfor %}</span>{% endif %}",
                "clusterCaption": "Метка 2"
            },
            "options": {
                "iconLayout": 'default#image',
                "iconImageHref": '/pic/200px-Triangulation_point.png',
                "iconImageSize": [32, 32],
                "iconImageOffset": [-16, -16]
            }
        },
    {% endfor %}
    {% for balloon in topo_list %}
        {
            "type": "Feature",
            "id": "topo_{{ balloon.id }}",
            "geometry": {
                "coordinates": [{{ balloon.lat }}, {{ balloon.lng }}],
                "type": "Point"
            },
            "properties": {
                "balloonContentHeader": "<h5 class=\"info__title-center\">{{ balloon.title }}</h5><h5 class=\"map__custom-control__text text-grey\">Широта: {{ balloon.lat }} </h5><h5 class=\"map__custom-control__text text-grey\">Долгота: {{ balloon.lng }} </h5><hr/>",
                "balloonContentBody": "<h5>Тип материала: топосъемка </h5>" +
                                      "<h5>Подземные коммуникации: {% if baloon.isugrshoot %}есть{% else %}нет{% endif %}</h5>" +
                                      "<h5>Высотные отметки: {% if balloon.isaltmark %}есть{% else %}нет{% endif %}</h5>" +
                                      "<h5>Элементы рельефа: {% if balloon.isrelelems %}есть{% else %}нет{% endif %}</h5>" +
                                      "<h5>Система координат: {{ balloon.syscoord }}</h5>" +
                                      "<h5>Система высот: {{ balloon.sysaltit }}</h5>" +
                                      "<h5>Вид: {{ balloon.myFormat }}</h5>" +
                                      "<h5>Инструмент: {{ balloon.instrument }}</h5>" +
                                      "{% if balloon.material_photo %}Фото: <a href=\"{{ balloon.material_photo.url }}\" class=\"fancybox\" title=\"Фото центра\"><img src=\"{{ balloon.material_photo.url }}\" width=\"160\" height=\"90\" style=\"margin-left:50px\"/></a></span>{% endif %}" +
                                      "{% if show_download %}<h5><a href=\"{{ balloon.material }}\">Скачать</a><h5>{% endif %}",
                "clusterCaption": "Метка 2"
            },
            "options": {
                "iconLayout": 'default#image',
                "iconImageHref": '/pic/128px_compas.png',
                "iconImageSize": [32, 32],
                "iconImageOffset": [-16, -16]
            }
        },
    {% endfor %}
]});