<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}{% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="Ruslan Galimov">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}ENGGEO - ваш личный архив материалов{% endblock %}</title>

    {% include "inc/header.html" %}
    {% block extra_head %}{% endblock %}

    <link href="/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body class='back1'>
  <!-- Menu -->
    {% include "inc/menu.html" %}
  <!-- END Menu -->
  <!-- Content -->
    {% block content %}{% endblock %}
  <!-- END Content -->
  <!-- Footer -->
    {% block footer %}{% endblock %}
  <!-- END Footer -->
  </body>
</html>