<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>ENGGEO</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../bootstrap2/css/bootstrap.min.css">
    <script src="/jquery/jquery-1.11.2.js"></script>
    <script src="/bootstrap2/js/bootstrap.min.js"></script>
    {% include "inc/add_placemarks.html" %}
</head>

<body>
    {% include "inc/reg_form.html" %}
    <div class="myNavbar">
        <!--div class="nowrap"-->
            <div class="navbar__logo inlineblock">
                <a href="/"><img src="../pic/logo.png" class="menu__img" alt="ENGGEO"></a>
            </div>

            <div class="navbar__menu-btn inlineblock menu-btn">
                <img src="../pic/ic_dehaze_black_48dp_2x.png" class="menu__img">
            </div>

            <div class="navbar__profile-btn inlineblock rightfloat profile-btn" data-toggle="modal" data-target="#auth_form">>
                <img src="../pic/ic_account_box_black_48dp_2x.png" class="menu__img">
            </div>
        <!--/div-->

        <div class="navbar__profile-short rightfloat profile-short">
            Мой счёт: 250
        </div>

        <div class="nowrap">
            <div class="navbar__item inlineblock">
                <div class="item-text">
                    
                </div>
            </div>

            <div class="navbar__item inlineblock">
                <div class="item-text">
                    Пункт меню
                </div>
            </div>

            <div class="navbar__item inlineblock">
                <div class="item-text">
                    Пункт меню
                </div>
            </div>
        </div>
    </div>

    <div id="YMapsID" class="YMaps"></div>

    <a href="#myModal" role="button" class="btn btn-test" data-toggle="modal">Жми</a>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

            <h3 id="myModalLabel">Введите данные:</h3>
        </div>

        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Координаты</label>

                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder="55°45.35'N, 37°37.06'E">
                    </div>

                </div>

                <div class="control-group">
                    <label class="control-label">Подземные коммуникации</label>

                    <div class="controls">
                        <label class="radio inline">
                            <input type="radio"> Да
                        </label>

                        <label class="radio inline">
                            <input type="radio"> Нет
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Высотные отметки</label>

                    <div class="controls">
                        <label class="radio inline">
                            <input type="radio"> Да
                        </label>

                        <label class="radio inline">
                            <input type="radio"> Нет
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Элементы рельефа</label>

                    <div class="controls">
                        <label class="radio inline">
                            <input type="radio"> Да
                        </label>

                        <label class="radio inline">
                            <input type="radio"> Нет
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Система координат</label>

                    <div class="controls">
                        <label class="radio inline">
                            <input type="radio"> 1
                        </label>

                        <label class="radio inline">
                            <input type="radio"> 2
                        </label>

                        <label class="radio inline">
                            <input type="radio"> 3
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Система высот</label>

                    <div class="controls">
                        <label class="radio inline">
                            <input type="radio"> 1
                        </label>

                        <label class="radio inline">
                            <input type="radio"> 2
                        </label>

                        <label class="radio inline">
                            <input type="radio"> 3
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Вид</label>

                    <div class="controls">
                        <label class="radio inline">
                            <input type="radio">pdf
                        </label>

                        <label class="radio inline">
                            <input type="radio">dwg
                        </label>

                        <label class="radio inline">
                            <input type="radio">mapinfo
                        </label>

                        <label class="radio inline">
                            <input type="radio">jpeg
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Инструмент</label>

                    <div class="controls">
                        <label class="radio inline">
                            <input type="radio">тахеометр
                        </label>

                        <label class="radio inline">
                            <input type="radio">gps-приемник
                        </label>

                        <label class="radio inline">
                            <input type="radio">наземное лазерное сканирование
                        </label>

                        <label class="radio inline">
                            <input type="radio">воздушное лазерное сканирование
                        </label>

                        <label class="radio inline">
                            <input type="radio">аэрофотосъемка
                        </label>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>

            <button class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</body>
</html>

<script>
    $(".menu-btn").click(function(){
        if ($(".myNavbar").height() < 100)
            $(".myNavbar").height(100);
        else
            $(".myNavbar").height(50);
    });
</script>
